@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Baloo Tammudu 2", cursive;
  box-sizing: border-box;
}
::selection {
  background-color: #58037cc5;
  color: #f4f4f4;
}

h1 {
  color: #3f0259;
}
nav {
  padding: 0 2rem;
  background-color: #f4f4f469;
  -webkit-box-shadow: 0px 10px 13px -7px #4003726e,
    5px 5px 15px 5px rgba(102, 7, 114, 0);
  box-shadow: 0px 10px 13px -7px #4003726e, 5px 5px 15px 5px rgba(64, 6, 82, 0);
}
.nav-item {
  padding: 6px 10px 0;
  font-size: 1.1rem;
}
.nav-item a {
  font-weight: 600;
  color: #58037c;
  letter-spacing: 1px;
  transition: 0.3s;
}
.nav-item a:hover {
  transform: scale(1.2);
  color: #58037c;
}
.nav-logo {
  margin-top: 8px;
  padding: 0.7rem;
}
.navbar-brand {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #3f0259;
}
.navbar-toggler {
  border: 2px solid #58037c !important;
  outline: none;
}
.navbar-toggler:focus-visible {
  outline: none;
}
section {
  padding: 4rem 0;
}
section:nth-child(odd) {
  background-color: #58037c09;
}

.home-txt,
.home-img {
  margin: auto;
  width: 80%;
  padding: 40px;
}
.home-txt {
  margin-top: 3%;
}
.home-txt h1,
h2 {
  margin-bottom: 0;
  font-size: 3.5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.home-txt h2 {
  font-size: 2.6rem;
  font-weight: 400;
}
.home-txt p {
  padding: 0.2rem 0;
  font-size: 1.1em;
  line-height: 1.8;
  letter-spacing: 1px;
}
.home-btn button {
  padding: 12px 30px 2px;
  font-size: 18px;
  font-weight: 600;
  border: 2px solid #58037c;
  border-radius: 6px;
  background-color: #fff;
  outline: none;
  transition: 0.3s;
}
.home-btn button a {
  text-decoration: none;
  color: #58037c;
}

.home-btn button:hover {
  background: linear-gradient(145deg, #3f0259, #8552e4);
}
.home-btn a:hover {
  color: #f4f4f4;
}

.title {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.title h1 {
  padding-bottom: 3rem;
}
.sub-title {
  padding: 3rem 0 2.2rem;
  color: #3f02598f;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.ab-icon {
  position: absolute;
  margin: 0 10.5%;
}
.ab-icon i {
  padding: 28px;
  font-size: 1.6rem;
  border-radius: 50%;
  background-color: #3f02598f;
  color: #f4f4f4;
  box-shadow: 2px 3px 6px -5px #40037250, 3px 4px 5px 3px rgba(102, 7, 114, 0.1);
}
.boxes {
  margin-top: 2rem;
  padding: 4.2rem 0 2rem;
  background-color: #f4f4f4;
  border-radius: 10px;
  text-align: center;
  box-shadow: 3px 6px 16px 1px rgba(0, 0, 0, 0.15);
}
.boxes ul {
  padding-left: 0;
}
.boxes ul li {
  list-style: none;
  line-height: 2.2;
  letter-spacing: 2px;
}
.ex-boxes {
  margin-top: 1.3rem;
  padding: 2rem 0 1rem;
  background-color: #f4f4f4;
  border-radius: 10px;
  text-align: center;
  box-shadow: 3px 6px 11px 2px rgba(0, 0, 0, 0.15);
  transition: 0.4s ease-in;
}
.ex-boxes .ex-p span {
  font-size: 0.8rem;
  font-weight: 600;
  color: #464444;
}
.ex-boxes .ex-p {
  margin-bottom: 0;
  color: #3f0259;
}
.ex-arrow {
  margin-right: 1.5rem;
  justify-content: flex-end;
  display: flex;
  color: #f4f4f4;
  font-size: 1.3rem;
}
.ex-boxes:hover {
  background-color: #58037cbd;
  cursor: pointer;
  transform: scale(1.1);
  color: #f4f4f4;
}
.ex-boxes span:hover,
.ex-p:hover {
  font-weight: 500;
  color: #f4f4f4;
}

/* CAROUSEL */
.port-caro {
  padding-top: 2rem;
}
.carousel-item {
  height: 400px;
}
.carousel-item img {
  height: 100vh;
  object-position: center;
}
.carousel-inner {
  border-radius: 10px;
  box-shadow: 1px 6px 10px 2px rgba(0, 0, 0, 0.15);
}
.carousel-caption a {
  font-size: 1.4rem;
  font-weight: 600;
  background-color: rgba(128, 0, 128, 0.253);
  color: #f4f4f4;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}
.carousel-caption p {
  font-size: 1rem;
  background-color: rgba(128, 0, 128, 0.253);
}
.item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 300px;
}
.blog-post {
  margin: 0 2.3rem;
  line-height: 1.8;
}
.blog-post h2 {
  padding-bottom: 1.5rem;
  text-align: center;
  letter-spacing: 4px;
}

.blog-title {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  color: #464444a8;
}

.info-text {
  margin: 0 2rem;
  padding: 0 2rem;
  text-align: center;
}
.contact .icons {
  padding: 5rem 0;
  display: flex;
  justify-content: center;
  font-size: 34px;
}
.contact .icons i {
  margin: 0 20px;
  padding: 22px;
  color: #464444;
  transition: 0.3s;
  border-radius: 136px;
  background: linear-gradient(145deg, #ffffff, #dcdcdc);
  box-shadow: 7px 7px 14px #58037c52, -7px -7px 14px #ffffff;
}
.contact .icons i:hover {
  color: #58037c;
}
.email {
  font-size: 1.4rem;
  text-align: center;
}
footer {
  padding: 1rem 0;
  background-color: #58037c;
  color: #fff;
}
footer p {
  text-align: center;
}
