@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=WindSong:wght@500&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: "Baloo Tammudu 2", cursive;
  box-sizing: border-box;
}
::selection {
  background-color: #58037cc5;
  color: #f4f4f4;
}
/* HEADER STRIP */

.header-strip {
  padding: .7rem 3.1rem .2rem;
  background-color: #58037c;  
}
.h-icons {
  padding-right: .9rem;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.h-icons i {
  padding: 0 .8rem;
  color: #f4f4f4;
  transition: .3s;
}
.h-icons i:hover{
  transform: scale(1.5);
}
header.sticky {
  position: fixed;
  width: 100vw;
  height: auto;
  background-color: #fff;
  transition: .2s;
  z-index: 1;
}
/* NAVIGATION BAR */
nav {
  position: sticky;
  padding: 0 2rem;
  background-color: #f4f4f469;
  -webkit-box-shadow: 0px 10px 10px -7px #4003726e,
    5px 5px 12px 5px rgba(102, 7, 114, 0);
  box-shadow: 0px 10px 10px -7px #4003726e, 5px 5px 12px 5px rgba(64, 6, 82, 0);
}
.nav-item {
  padding: 6px 6px 0;
  font-size: 1.1rem;
}
.nav-item a {
  font-weight: 300;
  color: #58037c;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.3s;
}
.nav-item a:hover {
  transform: scale(1.2);
  color: #58037c;
}
.nav-logo {
  margin-top: 8px;
  padding: 0.7rem;
}
.navbar-brand {
  letter-spacing: 2px;
  color: #3f0259;
}
.navbar-toggler {
  border: 2px solid #58037c !important;
  outline: none;
}
.navbar-toggler-icon {
  padding-top: 5px;
  color: #58037c;
}
.navbar-toggler:focus {
  outline: none;
  box-shadow: none !important;
}
.collapse .navbar-collapse{
  text-align: center;
  transition: .4s ease;
}


/* SECTION STYLING */
section {
  height: 100%;
  padding: 4rem 2rem;
  /* transform: translateX(-100%);
  transition: transform 0.4s ease; */
}
section.show {
transform: translateX(0);
}
section:nth-child(odd) {
  background-color: #58037c09;
 
}
h1 {
  color: #3f0259;
}
.cotainer-fluid{
  width: 85%;
}
/* SECTION TRANSITIONS */

/* HOME STYLING */

.home-txt,
.home-img {
  margin: 0 auto;  
}
.home-txt {
  margin-top: 5%;
  padding-top: 20px;
  width: 82%;
}
.home-txt h1,
h2 {
  margin-bottom: 0;
  font-size: 2.8rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.home-txt h2 {
  font-size: 2.4rem;
  font-weight: 300;
}
.home-txt p {
  margin-right: 1.5rem;
  padding: 0.2rem 0;
  font-size: 1.1rem;
  line-height: 1.8;
  letter-spacing: 2px;
}
.home-btn {
  padding: 10px 0;
}
.home-btn button {
  padding: 12px 30px 2px;
  font-size: 18px;
  font-weight: 400;
  border: 2px solid #58037c;
  border-radius: 4px;
  background-color: #fff;
  outline: none;
  transition: 0.3s;
}
.home-btn button a {
  text-decoration: none;
  color: #58037c;
}

.home-btn button:hover {
  background: linear-gradient(145deg, #3f0259, #8552e4);
}
.home-btn a:hover {
  color: #f4f4f4;
}
.home-img {
  margin-top: 2%;
  width: 75%;
}

.title h1{
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}


.sub-title {
  padding: 3rem 0 .5rem;
  color: #3f02598f;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* ABOUT SECTION STYLING */
#about {
  padding-bottom: 2rem;
}
.info-text.ab {
  margin: 2.8rem .5rem 1rem 0rem;
  padding: 0;
  text-align: left;
  line-height: 1.9;
}
/* .ab-icon {
  padding-bottom: 1.5rem;
} */
.ab-icon i {
  margin: .5rem 0;
  padding: 10%;
  font-size: 1.5rem;
  border-radius: 50%;
  border: 3px dotted #3f02598f;
  color: #3f02598f;

}
.ab-icon h5 {
  margin-top: 12px;
  margin-bottom: 0;
  color: #3f02598f;
}
.col.box {
  margin: 0 auto;
  display: flex;
  width: 80%;
}
.boxes {
  padding: .5rem;
  margin-left: 14px;
  margin-bottom: 6%;
  width: 30%;
  background-color: #f4f4f4;
  border-radius: 5px;
  text-align: center;
  box-shadow: 3px 6px 16px 1px rgba(0, 0, 0, 0.15);
}
.boxes ul {
  margin-top: 5%;
  padding-left: 0;
}
.boxes ul li {
  list-style: none;
  line-height: 1.7;
  letter-spacing: 1px;
}

/* Training sect */
.ex-boxes {
  padding: .6rem;
  margin: 2%;
  width: 30%;
  font-weight: 500;
  background-color: #f4f4f4;
  border-radius: 5px;
  text-align: center;
  box-shadow: 3px 6px 16px 1px rgba(0, 0, 0, 0.15);
  transition: 0.4s ease-in;
}
/* .ex-boxes:first-child, .ex-boxes:nth-child(3){
  margin-left: 0;
} */
.ex-boxes .ex-p span {
  font-size: 0.8rem;
  font-weight: 600;
  color: #464444;
}
.ex-boxes .ex-p {
  margin-bottom: 0;
  color: #3f0259;
}
/* .ex-p{
  margin-top: 6%;
} */
.ex-boxes:hover {
  font-weight: 500;
  background-color: #9b979734;
  color: #f4f4f4;
}
.col.int {
  margin: 4% 0 0 3%;
}
.col.ex {
  margin: 0 auto;
  display: flex;
  width: 90%;
}
.info-text.int {
  text-align: left;
}
.ab-title h2{
  font-weight: 400;
  margin-top: .8rem;
  padding: .8rem 0 0;
  color: #3f02598f;
  text-transform: capitalize;
  text-align: center;
}
.vid {
  display: flex;
  justify-content: center;
}
.vid video{
  box-shadow: 3px 6px 9px 2px rgba(0, 0, 0, 0.25);
}
.title .tr h1{
  text-align: center;
}
/* PORTFOLIO BOXES */
.info-text p {
  margin-bottom: 4%;
  text-align: center;
}
.content {
  margin: 0 auto;
  width: 90%;
  height: auto;
 
}

.box-img {
  position: relative;
}
.box-img img {
  display: block;
  width: 100%;
  height: 200px;
}
.overlay {
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  position: absolute;
  transition: all .6s ease;
  opacity: 0;
  background-color: #8552e4;
}
.box-img:hover .overlay{
  width: 100%;
  opacity: 0.95;
}

.box-txt{
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.box-txt a {
  color: white;
  text-decoration: none;
}

/* BLOG SECTION STYLING */
.blog-post {
  margin: 0 2rem;
  line-height: 1.8;
}
.blog-post h2 {
  padding-bottom: 1.5rem;
  text-align: center;
  letter-spacing: 4px;
}
.blog-title {
  font-weight: 300;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  color: #464444a8;
}
.info-text {
  /* margin: 0 2rem;
  padding: 0 2rem; */
  text-align: center;
}
.blog-img {
  margin: 0 auto;
  border: 2px dotted #3f02598f;
  width: 80%;
}
.blog-img img {
  margin-left: 2rem;
  width: 90%;
}

/* CONTACT ME SECTION STYLING */

.contact .icons {
  padding: 3.5rem 0;
  display: flex;
  justify-content: center;
  font-size: 22px;
}
.contact .icons i {
  margin: 0 20px;
  padding: 12px;
  color: #464444;
  transition: 0.3s;
  border-radius: 5px;
  background: linear-gradient(145deg, #ffffff, #dcdcdc);
  box-shadow: 7px 7px 14px #58037c52, -7px -7px 14px #ffffff;
}
.contact .icons i:hover {
  color: #58037c;
}

.email {
    font-size: 1.2rem;
    text-align: center;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* FOOTER STYLING */
footer {
  padding: 0.5rem 0;
  background-color: #58037c;
  color: #fff;
}
footer p {
  text-align: center;
}

/* MEDIA QUERY BREAKPOINTS */

@media (max-width: 768px) {
  .container, .container-sm {
    max-width: 80% !important;
    margin: 0 auto !important;
  }
  section {
    font-size: .9rem;
  }
  .home-txt{
    padding: 10px 0;
    text-align: center;
  }
  .home-txt h1{
    font-size: 3rem;
  }
  .home-txt h2{
    font-size: 2rem;
  }
  .home-img{
    display: none;
  }
  .info-text {
    margin: 0;
    padding: 0;
  }
  /* About */
  .info-text.ab {
    margin-right: 0;
  }
  .col.box {
    /* margin: 0 auto; */
    height: 100%;
  }
  .col.int {
    margin-top: 4%;
    padding: 0;
  }
  .info-text.int p {
    margin: 12% 0 2% 0;
  }
  .boxes {
    padding: .4rem;
  }
  
  .ex-boxes .ex-p {
    font-size: .8rem;
}
  .ex-boxes {
    grid-template-columns: 90px;
    height: auto;
  }
  .ex-p {
    margin-top: 8%;
  }
  .vid video {
    width: 100%;
  }
  /* Portfolio */
  .content {
    margin: 0 auto;
  }
  .blog-post {
    margin: 0;
  }

  /* .email {
    height: auto;
  } */
  
}
/* Max-width 600px */
@media (max-width: 600px) {
  section{
    overflow: hidden;
  }
  .email {
    padding: 1.5rem 0 0;
    height: 0;
  }
}
